body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body > canvas{
    background-color: white;
    display: grid;
    border: solid black;
    grid-template-columns: repeat(6 1fr);
}
body > canvas > section{
    border: solid black;
    
}
section.juego{
    background-color: whitesmoke;
    border: dotted black;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
div.gato{
    align-self: flex-start;
    height: 100px;
    width: 100px;
    background-image: url("/images/Tom.png");
    border-radius: 50%;
}
div.raton{
    align-self: flex-end;
    height: 100px;
    width: 100px;
    background-color: brown;
    background-image: url("/images/Jerry.png");
    border-radius: 50%;
}
section.juego > article{
    border: double black;
}