body{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.juego{
    background-color: whitesmoke;
    border: dotted black;
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

section.juego > article{
    border: double black;
}